body {
    width: 100vw;
    font-family: 'Kanit', sans-serif;
    background-image: url('/assets/BG.png');
    background-size: cover;  
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#rewardSection {
    background: #C3EEFA;
    border: 2px solid #00adb5;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

#rewardSection:hover {
    transform: scale(1.02);
    box-shadow: 0 0 30px rgba(0, 173, 181, 0.8);
}

#rewardText {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

#rewardImage {
    margin: 20px auto;
    border-radius: 10px;
}

button {
    padding: 12px 25px;
    background-color: #00adb5;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 173, 181, 0.3);
}

button:hover {
    background-color: #00fff5;
    color: #111;
    box-shadow: 0 4px 20px rgba(0, 255, 255, 0.5);
    transform: scale(1.05);
}

@media screen and (max-width: 992px) {  
    .main {
        display: flex;
        justify-content: center;
    }
    #rewardSection {
        width: 90%;
        padding: 20px;
    }
}

@media screen and (max-width: 476px) {  
    #rewardSection {
        width: 80%;
        padding: 20px;
    }
}